/* _typography */

/*
특수문자, 영문, 숫자

1. 특수문자 범위: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E
2. 영문 범위: U+0041-005A(대문자), U+0061-007A(소문자)
3. 숫자 범위: U+0030-0039
전체 U+0020-007E
*/

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/pretendard/Pretendard-Regular.woff2");
  src: local(""),
    url("../fonts/pretendard/Pretendard-Regular.woff2") format("woff2"),
    url("../fonts/pretendard/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/poppin/Poppins-Regular.ttf");
  src: local(""), url("../fonts/poppin/Poppins-Regular.ttf") format("truetype");
  unicode-range: U+0020-007E;
  /* unicode-range: U+0030-0039; */
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/notosansKr/NotoSansKR-Regular.otf");
  src: local(""),
    url("../fonts/notosansKr/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/pretendard/Pretendard-Medium.woff2");
  src: local(""),
    url("../fonts/pretendard/Pretendard-Medium.woff2") format("woff2"),
    url("../fonts/pretendard/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/poppin/Poppins-Medium.ttf");
  src: local(""), url("../fonts/poppin/Poppins-Medium.ttf") format("truetype");
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/notosansKr/NotoSansKR-Medium.otf");
  src: local(""),
    url("../fonts/notosansKr/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/pretendard/Pretendard-SemiBold.woff2");
  src: local(""),
    url("../fonts/pretendard/Pretendard-SemiBold.woff2") format("woff2"),
    url("../fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/poppin/Poppins-SemiBold.ttf");
  src: local(""), url("../fonts/poppin/Poppins-SemiBold.ttf") format("truetype");
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/pretendard/Pretendard-Bold.woff2");
  src: local(""),
    url("../fonts/pretendard/Pretendard-Bold.woff2") format("woff2"),
    url("../fonts/pretendard/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/poppin/Poppins-Bold.ttf");
  src: local(""), url("../fonts/poppin/Poppins-Bold.ttf") format("truetype");
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/notosansKr/NotoSansKR-Bold.otf");
  src: local(""),
    url("../fonts/notosansKr/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("../fonts/pretendard/Pretendard-ExtraBold.woff2");
  src: local(""),
    url("../fonts/pretendard/Pretendard-ExtraBold.woff2") format("woff2"),
    url("../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("../fonts/poppin/Poppins-ExtraBold.ttf");
  src: local(""),
    url("../fonts/poppin/Poppins-ExtraBold.ttf") format("truetype");
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("../fonts/pretendard/Pretendard-Black.woff2");
  src: local(""),
    url("../fonts/pretendard/Pretendard-Black.woff2") format("woff2"),
    url("../fonts/pretendard/Pretendard-Black.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("../fonts/poppin/Poppins-Black.ttf");
  src: local(""), url("../fonts/poppin/Poppins-Black.ttf") format("truetype");
  unicode-range: U+0020-007E;
}
